body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #4b0fbd;
}

#account-form, #search-user {
    margin-bottom: 20px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.field {
    margin-bottom: 15px;
}

select {
    padding: 8px;
    width: 200px;
    margin:top: 5px;
}
